body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #eeeeee;
}

.inner-page .main-header{
  min-height: 355px;
  background-color: #eeeeee;
}

.main-navigation {
  margin: 0;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.inner-page .main-navigation {
  margin-bottom: 68px;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-navigation .container {
  display: flex;
}

.main-header-logo {
  margin-top: 49px;
  margin-right: 202px;
}

.logotype:hover {
  opacity: 0.8;
}

.logotype:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 440px;
  padding: 0;
  margin-top: 72px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.inner-page .market-item {
  position: relative;
}

.inner-page .market-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 28px;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}

.site-navigation .market-item:hover,
.site-navigation .market-item:active {
  color: #000000;
  opacity: 1;
}

.basket::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 115px;
  margin-left: auto;
  margin-top: 72px;
}

.basket a {
  color: #000000;
}

.basket a:hover {
  color: #fb565a;
}

.basket a:active {
  color: #000000;
  opacity: 0.3;
}

  .slider {
  background-color: #eeeeee;
}
  
  .slider-controls {
  position: absolute;
  top: 431px;
  left: 50%;
  z-index: 100;
  
  width: 160px;
  height: 18px;
  
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
  
  .slider-controls i {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0;
  margin-right: 17px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .tumbler-3 {
  margin: 0;
}
  
  .slider-controls i::after {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}
  
  .active::before { 
  content: "";
  
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
  
  .slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}
  
.slider-item {
  display: none;
}
  
  .slide-show {
  display: block;
}
  
  .slider-item:nth-child(1) {
  height: 274px;
  padding: 67px 0 80px 0;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 7px;
}
  
  .slider-item:nth-child(2) {
  height: 273px;
  padding: 68px 0 80px 0;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}
  
  .slider-item:nth-child(3) {
  height: 275px;
  padding: 67px 0 79px 0;
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 9px;
}
  
  .slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
  
  .slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item:nth-child(2) p {
  margin-bottom: 37px;
}
  
  .slider-button {
  display: block;
  width: 240px;
  padding: 16px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}
  
  .slider-button:hover {
  background-color: #e74246;
}
  
  .slider-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.market {
  /* position: absolute;
  width: 726px;
  top: 155px;
  left: 50%;
  transform: translateX(-50%); */
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.services .container {
  margin-top: 81px;
}

.service-list {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
  margin-bottom: 79px;
}

.service-list-item {
  width: 300px;
  padding-top: 146px;
  margin-right: 100px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.service-list-item.red {
  background-image: url("../img/sites.png");
}

.service-list-item.green {
  background-image: url("../img/applications.png");
}

.service-list-item.yellow {
  background-image: url("../img/presentations.png");
}

.service-list-item:last-child {
  margin-right: 0;
}

.service-list-item-header {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 0px;
}

.service-list-item-description {
  color: #283136;
  margin-bottom: 33px;
}

.button {
  display: block;
  width: 160px;
  height: 22px;
  padding: 14px 0;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
}

.red-button {
  background-color: #fb565a;
}

.red-button:hover {
  background-color: #e74246;
}

.red-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.green-button {
  background-color: #00ca74;
}

.green-button:hover {
  background-color: #00bc6c;
}

.green-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.yellow-button {
  background-color: #efc84a;
}

.yellow-button:hover {
  background-color: #eab534;
}

.yellow-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.about-us {
  position: relative;
}

.about-us::before {
  content: "";
  display: block;
  position: absolute;
  width: 1160px;
  height: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eeeeee;
}

.about-us .container {
  display: flex;
  margin-bottom: 72px;
}

.about-us-description {
  width: 660px;
  margin-top: 76px;
  margin-right: 149px;
}

.about-us-description b {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.principle {
  margin-top: 35px;
  margin-bottom: 38px;
  color: #283136;
}

.development {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.development-list {
  color: #283136;
  list-style: none;
  padding: 0;
  margin: 0;
}

.development-list li {
  position: relative;
  padding-left: 37px;
  margin-bottom: 24px;
}

.development-list li:last-child {
  margin-bottom: 0;
}

.development-list li::before {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.statistics {
  width: 360px;
  margin-top: 42px;
  padding-top: 245px;
  background-image: url("../img/nerds-picture.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.statistics > p {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.statistical-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.statistical-list li {
  width: 105px;
  margin-right: 15px;
}

.statistical-list b {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.statistical-list sup {
  vertical-align: super;
  font-size: 27px;
  top: 0;
}

.statistical-list p {
  line-height: 18px;
  color: #283136;
  margin: 0;
  margin-top: 20px;
}

.partners {
  position: relative;
}

.partners::before {
  content: "";
  display: block;
  position: absolute;
  width: 1160px;
  height: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eeeeee;
}

.partners::after {
  content: "";
  display: block;
  position: absolute;
  width: 1160px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eeeeee;
}

.partners .container {
  padding: 49px 20px 45px;
}

.partners-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.partner-list-item {
  position: relative;
  width: 260px;
  margin-left: 20px;
}

.partner-list-item::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.partner-list-item a {
  display: block;
  opacity: 0.2;
  background-repeat: no-repeat;
}

.partner-list-item a:hover {
  opacity: 1;
}

.partner-list-item a:active {
  opacity: 0.1;
}

.partners-list .html-academy {
  top: 15px;
  margin-left: 0;
  padding-left: 30px;
  padding-right: 50px;
}

.partners-list .html-academy::after {
  top: 2px;
}

.partners-list .html-academy a {
  width: 199px;
  height: 68px;
  background-image: url("../img/htmlacademy-logo.png");
}

.partners-list .borodinsky {
  padding-left: 26px;
  padding-right: 46px;
}

.partners-list .borodinsky::after {
  top: 17px;
}

.partners-list .borodinsky a {
  width: 209px;
  height: 90px;
  background-image: url("../img/borodinski-logo.png");
}

.partners-list .pink {
  top: 18px;
  padding-left: 37px;
  padding-right: 57px;
}

.partners-list .pink::after {
  top: -1px;
}

.partners-list .pink a {
  width: 185px;
  height: 52px;
  background-image: url("../img/pink-logo.png");
}

.partners-list .mishka {
  top: 5px;
  padding-left: 44px;
  padding-right: 64px;
}

.partners-list .mishka::after {
  display: none;
}

.partners-list .mishka a {
  width: 173px;
  height: 84px;
  background-image: url("../img/mishka-logo.png");
}

.catalog-wrapper {
  display: flex;
}

.filters {
  width: 260px;
  margin-top: 55px;
  margin-right: 140px;
}

.filter {
  padding:0;
}

.filter fieldset {
  border: none;
  padding: 0;
}

.price-filter {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
}
  
.range-filter {
  width: 260px;
  margin-top: 47px;
}
  
.price-filter legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
  
.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 14px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}
  
.range-controls .scale {
  height: 2px;
  
  background: #d7dcde;
}
  
.range-controls .bar {
  width: 57%;
  height: 2px;
  margin-left: 8%;
  background: #00ca74;
}
  
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;
  
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
  
.range-controls .toggle-min {
  left: 18px;
}
  
.range-controls .toggle-max {
  left: 160px;
}
  
.price-controls {
  font-size: 0;
}
  
.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}
  
.price-controls input {
  width: 60px;
  padding: 10px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
  
.max-price {
  text-align: right;
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
}

.grid-filter {
  margin: 0;
  margin-top: 54px;
}

.grid-list {
  list-style: none;
  margin-top: 16px;
  padding: 0;
}

.grid-list li {
  margin-bottom: 20px;
}

.grid-list label {
  display: block;
  position: relative;
  color: #283136;
  line-height: 20px;
  padding-left: 36px;
  cursor: pointer;
}

.grid-radio:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.adaptive {
  width: 90px;
}

.fixed {
  width: 120px;
}

.grid-list .rubber {
  width: 80px;
  margin: 0;
}

.grid-list label::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 4px solid #4d4d4d;
  opacity: 0.4;
  border-radius: 50%;
}

.grid-radio:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 8px;
  width: 9px;
  height: 9px;
  background-color: #4d4d4d;
  opacity: 0.4;
  border-radius: 50%;
}

.grid-list label:hover::before,
.grid-list label:hover::after {
  opacity: 1;
}

.grid-radio:disabled + label {
  cursor: default;
}

.grid-radio:disabled + label::before,
.grid-radio:disabled + label::after {
  opacity: 0.1;
}

.features-filter {
  margin: 0;
  margin-top: 25px;
}

.features-list {
  list-style: none;
  padding: 0;
  margin-top: 16px;
}

.features-list li {
  margin-bottom: 20px;
}

.features-list label {
  display: block;
  position: relative;
  color: #283136;
  line-height: 20px;
  padding-left: 37px;
  cursor: pointer;
}

.features-checkbox:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.features-list .slider {
  width: 65px;
  background: none;
}

.advantages {
  width: 142px;
}

.news {
  width: 65px;
}

.gallery {
  width: 60px;
}

.cart {
  width: 63px;
}

.features-list label::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.features-list label:hover::before {
  opacity: 1;
}

.features-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.features-checkbox:disabled + label {
  cursor: default;
}

.features-checkbox:disabled + label::before,
.features-checkbox:disabled + label::after {
  opacity: 0.1;
}

.filter-button {
  width: 260px;
  height: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 3px;
  background-color: #eeeeee;
  font-weight: 500;
  text-transform: uppercase;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.templates {
  width: 760px;
  margin-top: 56px;

}

.sort-filter {
  display: flex;
  align-items: center;
}

.sort-filter span {
  margin-right: 267px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-types-list {
  display: flex;
  justify-content: space-between;
  width: 272px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 48px;
}

.sort-types-list button {
  border: none;
  background: none;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.3;
}

.sort-filter .active-item {
  opacity: 1;
}

.sort-types-list button:hover {
  opacity: 0.6;
}

.sort-filter .active-item:hover {
  opacity: 1;
}

.sort-types-list button:active {
  opacity: 1;
}

.sort-button {
  width: 11px;
  height: 11px;
  font-size: 0;
  border: none;
  background: none;
  background-repeat: no-repeat;
  opacity: 0.06;
}

.sort-button:hover {
  opacity: 0.3;
}

.sort-button:active {
  opacity: 1;
}

.sort-button.down {
  background-image: url("../img/icon-down-dir.svg");
  margin-right: 18px;
}

.sort-button.up {
  background-image: url("../img/icon-up-dir.svg");
}

.templates-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 53px;
}

.templates-list-item {
  position: relative;
  width: 360px;
  height: 616px;
  margin-right: 40px;
  margin-bottom: 33px;
}

.templates-list-item:nth-child(2n) {
  margin-right: 0;
}

.templates-list-item::before {
  content: "";
  display: block;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.templates-list-item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.templates-list-item:hover::before {
  opacity: 1;
}

.flyout-element {
  display: none;
  position: absolute;
  top: 385px;
  width: 360px;
  height: 161px;
  padding: 27px 0 43px;
  background-color: #eeeeee;
}

.templates-list-item:hover .flyout-element {
  display: block;
}

.center {
  width: 200px;
  margin: 0 auto;
}

.pink .center {
  width: 225px;
}

.borodinsky .template-description {
  width: 165px;
  margin: 0 auto;
}

.a-plus .center {
  width: 225px;
}

.kvast .center {
  width: 225px;
}

.template-header {
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
}

.template-header a {
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.template-header a:hover {
  color: #fb565a;
}

.template-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.template-description {
  line-height: 18px;
  text-align: center;
  margin: 0;
  color: #666666;
}

.template-button {
  display: block;
  width: 200px;
  height: 18px;
  padding: 16px 0;
  margin: 30px auto 43px;
  background-color: #fb565a;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
}

.template-button:hover {
  background-color: #e74246;
}

.template-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.pages-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 27px;
}

.pages-list-item {
  margin-right: 11px;
}

.pages-list-item:last-child {
  margin-right: 0;
}

.pages-list-item a {
  display: block;
  width: 50px;
  padding: 17px 0 14px;
  background-color: #eeeeee;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #000000;
  border-radius: 3px;
}

.pages-list-item a:hover {
  background-color: #dfdfdf;
}

.pages-list-item a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.pages-list .previous-page,
.pages-list .next-page {
  width: 260px;
  text-transform: uppercase;
}

.inner-page.page-1 .pages-list-item:first-child {
  margin: 0;
}

.inner-page.page-1 .previous-page {
  display: none;
}

.inner-page.page-1 .first-page {
  width: 44px;
  padding: 14px 0 11px;
  border: solid 3px #dbdbdb;
  background: none;
}

.inner-page.page-1 .first-page:active {
  color: #000000;
  box-shadow: none;
}

.contacts {
  margin-top: 78px;
  height: 416px;
  position: relative;
  border: 1px solid #ffffff;
}

.inner-page .contacts {
  margin-top: 60px;
}

.contacts img {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.our-address {
  width: 219px;
  height: 213px;
  padding: 49px 50px 46px;
  margin-top: 55px;
  background-color: #ffffff;
}

.inner-page .our-address {
  margin-top: 54px;
}

.our-address-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.our-address p {
  margin-bottom: 17px;
  line-height: 18px;
  color: #666666;
}

.contacts-button {
  display: block;
  width: 219px;
  padding: 17px 0 15px;
  background-color: #fb565a;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  margin-top: 37px;
}

.contacts-button:hover {
  background-color: #e74246;
}

.contacts-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.social-wrapper {
  display: flex;
  padding: 53px 20px 52px;
}

.inner-page .social-wrapper {
  padding: 52px 20px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 260px;
  padding: 0;
  margin-right: 140px;
}

.social-button {
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  
  background-color: #e1e1e1;
}

.social-button:hover {
   background-color: #e74246;
}

.social-button:active {
   background-color: #d7373b;
   box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.vk::before {
  content: "";
  display: block;
  width: 79px;
  height: 79px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.fb::before {
  content: "";
  display: block;
  width: 79px;
  height: 79px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.insta::before {
  content: "";
  display: block;
  width: 79px;
  height: 79px;
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button:active::before {
  opacity: 0.3;
}

.lets-be-friends {
  width: 545px;
  margin-top: 22px;
}

.lets-be-friends b {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.lets-be-friends p {
  color: #444444;
  line-height: 22px;
  margin-top: 9px;
}

.visually-hidden {
  display: none;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  width: 760px;
  height: 590px;
  padding: 0 100px;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.write-us {
  display: none;
}

@keyframes animation {
  0% { transform: translate(-50%, -50%) scale(0); }
  100% { transform: translate(-50%, -50%) scale(1); }
  }

@keyframes shake {
  0%, 100% { transform: translate(-50%, -50%); }
  10%, 30%, 50%, 70%, 90% { transform: translate(calc(-50% + 10px), -50%); }
  20%, 40%, 60%, 80% { transform: translate(calc(-50% - 10px), -50%); }
}

.modal-show {
  display: block;
  animation-name: animation;
  animation-duration: 0.5s;
  }

  .modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
  }

.modal-header {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-top: 67px;
  margin-bottom: 41px;
}

.inner-form {
  display: flex;
  flex-wrap: wrap;
}

.inner-form p {
  margin: 0;
}

.inner-form label {
  font-weight: 700;
  line-height: 18px;
  display: block;
  margin-bottom: 9px;
}

.inner-form input {
  box-sizing: border-box;
  width: 360px;
  padding: 14px 13px;
  border: 2px solid #d7dcde;
  line-height: 18px;
  color: #444444;
}

.inner-form input:hover {
  border-color: #b4b9bb;
}

.inner-form input:focus {
  border-color: #000000;
}

.inner-form .name-field {
  margin-right: 40px;
  margin-bottom: 34px;
}

.name::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.name::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.name:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.email::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.email::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.email:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.email:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.email:invalid:hover,
.email:invalid:focus {
  border: 2px solid #e74246;
}

.message {
  box-sizing: border-box;
  width: 760px;
  height: 118px;
  padding: 11px 13px;
  
  border: 2px solid #d7dcde;
  line-height: 18px;
  color: #444444;
}

.message::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.message::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.message:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.message:hover {
  border-color: #b4b9bb;
}

.message:focus {
  border-color: #000000;
}

.send-button {
  width: 260px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: #fb565a;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  padding: 17px 0;
  margin-top: 40px;
}

.send-button:hover {
  background-color: #e74246;
}

.send-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background: none;
  background-image: url("../img/close-cross.svg");
  opacity: 0.3;
  border: none;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}