body {
    width: 1440px;
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: #eeeeee;
}

.inner-page .main-header{
    height: 353px;
    background-color: #eeeeee;
}

.main-navigation {
    box-sizing: border-box;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.main-header-logo {
    margin-top: 49px;
    margin-right: 202px;
}

.logotype:hover {
    opacity: 0.8;
}

.logotype:active {
    opacity: 0.3;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 440px;
    padding: 0;
    margin-top: 75px;
}

.inner-page .site-navigation {
    margin-top: 72px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color: #fb565a;
}

.site-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.site-navigation .market-item:hover,
.site-navigation .market-item:active {
    color: #000000;
    opacity: 1;
}

.basket::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
}

.basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 115px;
    margin-left: auto;
    margin-top: 75px;
}

.inner-page .basket {
    margin-top: 72px;
}

.basket a {
    color: #000000;
}

.basket a:hover {
    color: #fb565a;
}

.basket a:active {
    color: #000000;
    opacity: 0.3;
}

.market {
    position: absolute;
    top: 170px;
    left: 356px;
    font-weight: 500;
    font-size: 55px;
}

.service-list {
    margin-top: 500px;
    display: flex;
    width: 1015px;
    margin-left: 141px;
    list-style: none;
    padding: 0;
}

.service-list-item::before {
    content: "";
    display: block;
    width: 300px;
    height: 146px;
    background-repeat: no-repeat;
}

.service-list-item:first-child::before {
    background-image: url("../img/sites.png");
}

.service-list-item:nth-child(2)::before {
    background-image: url("../img/applications.png");
}

.service-list-item:last-child::before {
    background-image: url("../img/presentations.png");
}

.service-list-item:first-child {
    width: 250px;
    margin-right: 150px;
}

.service-list-item:nth-child(2) {
    width: 238px;
    margin-right: 160px;
}

.service-list-item:last-child {
    width: 213px;
}

.service-list-item-header {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 0px;
}

.service-list-item-description {
    color: #283136;
    margin-bottom: 35px;
}

.button {
    display: block;
    box-sizing: border-box;
    width: 160px;
    height: 50px;
    padding: 14px 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
}

.red-button {
    background-color: #fb565a;
}

.red-button:hover {
    background-color: #e74246;
}

.red-button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.green-button {
    background-color: #00ca74;
}

.green-button:hover {
    background-color: #00bc6c;
}

.green-button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}

.yellow-button {
    background-color: #efc84a;
}

.yellow-button:hover {
    background-color: #eab534;
}

.yellow-button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3);
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin-top: 120px;
    margin-left: 141px;
}

.filter {
    margin-top: 201px;
}

.filter fieldset {
    border: none;
    padding: 0;
}

.filter fieldset:first-child {
    margin-bottom: 32px;
}

.filter legend {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 30px;
}

.grid-list {
    list-style: none;
    margin-top: 16px;
    padding: 0;
}

.grid-list label {
    color: #283136;
    line-height: 20px;
}

.features-list {
    list-style: none;
    padding: 0;
    margin-top: 13px;
}

.features-list label {
    color: #283136;
    line-height: 20px;
}

.filter-button {
    width: 260px;
    height: 50px;
    margin-top: 30px;
    border: none;
    border-radius: 3px;
    background-color: #eeeeee;
    font-weight: 500;
    text-transform: uppercase;
}

.filter-button:hover {
    background-color: #dfdfdf;
}

.filter-button:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.templates-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 760px;
    height: 1914px;
    list-style: none;
    padding: 0;
}

.templates-list-item::before {
    content: "";
    display: block;
    width: 360px;
    height: 40px;
    background-image: url("../img/browser.svg");
    background-repeat: no-repeat;
    opacity: 0.12;
}

.templates-list-item {
    width: 360px;
    height: 616px;
    padding: 0;
}

.templates-list-item:hover {
    box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.templates-list-item:hover::before {
    opacity: 1;
}

.wrapper {
    display: flex;
    width: 960px;
    margin-top: 1340px;
    margin-left: 140px;
}

.inner-page .wrapper {
    margin-top: 623px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 260px;
    padding: 0;
    margin-right: 140px;
    margin-top: 15px;
}

.social-button {
    display: block;
    width: 79px;
    height: 79px;
    border-radius: 49px;
    
    background-color: #e1e1e1;
}

.social-button:hover {
   background-color: #e74246;
}

.social-button:active {
   background-color: #d7373b;
   box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.vk {
    width: 79px;
    height: 79px;
    background-image: url("../img/vk-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.fb {
    width: 79px;
    height: 79px;
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.insta {
    width: 79px;
    height: 79px;
    background-image: url("../img/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.vk:active,
.fb:active,
.insta:active {
    opacity: 0.3;
}

.lets-be-friends {
    width: 545px;
    margin-top: 20px;
}

.lets-be-friends b {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.lets-be-friends p {
    color: #444444;
    line-height: 22px;
    margin-top: 9px;
}

.visually-hidden {
    display: none;
}

.modal {
    display: none;
}