body {
    width: 1440px;
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    /* border: 2px solid green; */
}

a {
    text-decoration: none;
}

.main-header {
    background-color: #eeeeee;
}

.main-navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    border: 1px solid red;
}

.main-header-logo {
    margin-top: 49px;
    margin-right: 202px;
    border: 1px solid blue;
}

.logotype:hover {
    opacity: 0.8;
}

.logotype:active {
    opacity: 0.3;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 440px;
    padding: 0;
    margin: 0;
    margin-top: 74px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color: #fb565a;
}

.site-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.site-navigation .market-item:hover,
.site-navigation .market-item:active {
    color: #000000;
    opacity: 1;
}

.basket {
    width: 74px;
    margin-left: auto;
    margin-top: 74px;
    border: 1px solid blue;
}

.basket a {
    color: #000000;
}

.basket a:hover {
    color: #fb565a;
}

.basket a:active {
    color: #000000;
    opacity: 0.3;
}

.market {
    font-weight: 500;
    font-size: 55px;
}

.service-list {
    margin-top: 650px;
    display: flex;
    width: 1015px;
    margin-left: 141px;
    list-style: none;
    padding: 0;
}

.service-list-item:first-child {
    width: 250px;
    margin-right: 150px;
}

.service-list-item:nth-child(2) {
    width: 238px;
    margin-right: 160px;
}

.service-list-item:last-child {
    width: 213px;
}

.service-list-item-header {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 11px;
}

.service-list-item-description {
    color: #283136;
    margin-bottom: 30px;
}

.button {
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 3px;
}

.red-button {
    background-color: #fb565a;
}

.red-button:hover {
    background-color: #e74246;
}

.red-button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.green-button {
    background-color: #00ca74;
}

.green-button:hover {
    background-color: #00bc6c;
}

.green-button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}

.yellow-button {
    background-color: #efc84a;
}

.yellow-button:hover {
    background-color: #eab534;
}

.yellow-button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3);
}

.filter fieldset {
    border: none;
    padding: 0;
}

.filter legend {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 30px;
}

.grid-list {
    list-style: none;
    padding: 0;
}

.grid-list label {
    color: #283136;
    line-height: 20px;
}

.features-list {
    list-style: none;
    padding: 0;
}

.features-list label {
    color: #283136;
    line-height: 20px;
}

.filter-button {
    border: none;
    border-radius: 3px;
    background-color: #eeeeee;
    font-weight: 500;
    text-transform: uppercase;
}

.filter-button:hover {
    background-color: #dfdfdf;
}

.filter-button:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.templates-list {
    list-style: none;
    padding: 0;
}

.templates-list-item {
    margin-bottom: 30px;
}

.templates-list-item:hover {
    box-shadow: 0 6px 15px rgba(0, 1, 1, 0.2);
}

.footer-social {
    list-style: none;
    padding: 0;
}

.footer-social li {
    margin-bottom: 5px;
}

.social-button {
    display: block;
    width: 79px;
    height: 79px;
    border-radius: 49px;
    
    background-color: #e1e1e1;
}

.social-button:hover {
   background-color: #e74246;
}

.social-button:active {
   background-color: #d7373b;
   box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.vk {
    width: 79px;
    height: 79px;
    background-image: url("../img/vk-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.fb {
    width: 79px;
    height: 79px;
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.insta {
    width: 79px;
    height: 79px;
    background-image: url("../img/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.vk:active,
.fb:active,
.insta:active {
    opacity: 0.3;
}

.lets-be-friends b {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.lets-be-friends p {
    color: #444444;
    line-height: 22px;
}

.visually-hidden {
    display: none;
}

.modal {
    display: none;
}